@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i|Lato');

body {
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
    font-family: Lato, 'Quattrocento Sans', 'Helvetica Neue', 'Siyam Rupali', sans-serif;
}

.copyright {
    font-size: 0.9em;
}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
}

.box figure a {
    border: none;
}

p>code {
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 0 5.591px;
    padding: 0 0.28rem;
}

.chroma {
    border: 2px solid #d2d2d2;
    border-radius: 4px;

}

.chroma>code {
    font-family: Monaco, monospace, monospace;
    font-size: 0.90em;
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
    color: #444;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}

kbd,
pre,
tt,
var {
    font-size: 0.90em;
    font-family: Monaco, Ubuntu Mono, Consolas, Andale Mono, monospace;
    white-space: pre-wrap
}

textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input,
select,
textarea {
    font-family: Lato, 'Quattrocento Sans', 'Helvetica Neue', 'Siyam Rupali', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #37474f;
    word-wrap: break-word;
}

.entry-content {
    font-family: 'Quattrocento Sans';
    font-size: 1.1em;
    line-height: 1.4;
    color: #000;
}

.entry-content a {
    color: #7F7F7F;
    font-weight: 500;
    border-bottom: none;
}

.entry-content a:hover {
    color: #191919;
}

blockquote {
    font-style: normal;
    font-family: 'Quattrocento Sans';
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 500;
    background: rgb(243, 243, 243);
    padding: 1em 1em
}


@media screen and (min-width: 480px) {

    .title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Lato, 'Quattrocento Sans', Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Siyam Rupali, sans-serif;
        /* font-weight: 700; */
        line-height: 1.5;
        color: #37474f;
        margin: 0 0 .625em
    }

    .main-menu-container {
        margin-top: 1em;
    }

    .footer>div:last-child {
        margin-bottom: 1em;
    }

    .header:after {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}