<div id="disqus_thread"></div>
<div class="load-comments" onclick="load_comments(this)">
    Load Comments
</div>
<script type="text/javascript">
 function load_comments(div) {
     // Don't ever inject Disqus on localhost--it creates unwanted
     // discussions from 'localhost:1313' on your Disqus account...
     if (window.location.hostname == "localhost")
         return;

     var d = document;
     var s = d.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     // This code is within the scope of site.DisqusShortname, so below {{ . }} is all that's needed.
     s.src = '//{{ . }}.disqus.com/embed.js';
     /* s.setAttribute('data-timestamp', +new Date());*/

     (d.head || d.body).appendChild(s);
     div.parentNode.removeChild(div);
 }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
