<!-- Reads Old Disqus comments saved as JSON file.-->
<!-- The Disqus comments were first exported from disqus.com, which you receive in email as an xml file.
     This JSON file was converted from xml using http://www.utilities-online.info/xmltojson/.
     Save the resultant file as data/disqus_comments.json.
-->
{{ $page := . }}
{{ with site.Data.disqus_comments.disqus }}
    {{ $threads := (index . "thread") }}
    {{ $comments := (index . "post") }}
    {{ range $threads }}
        {{ $thread := . }}
        {{ $thread_link := (index $thread "link") | replaceRE "^https?://[^/]+" "" }}
        {{ if (eq $thread_link $page.RelPermalink) }}
            {{/* partial "debugprint.html" $thread */}}
            {{ $thread_id := (index $thread "-dsq:id") }}
            {{ range $comments }}
                {{ $comment := . }}
                {{ $comment_thread_id := (index (index $comment "thread") "-dsq:id") }}
                {{ if (eq $comment_thread_id $thread_id) }}
                    {{/* partial "debugprint.html" $comment */}}
                    {{ $comment_author_obj := (index . "author") }}
                    {{ $comment_author_name := (index $comment_author_obj "name") }}
                    {{ $comment_string := (index $comment "message") }}
                    {{ $comment_parent := (index $comment "parent") }}
                    {{ $comment_date := (time (index $comment "createdAt")).Local | dateFormat "Mon Jan 2, 2006 15:04 MST" }}
                    <dl class="disqus comment">
                        <dt>
                            Comment by {{ $comment_author_name }} on {{ $comment_date }}
                        </dt>
                        <dd>
                            {{ if $comment_parent }}
                                {{ $parent_comment_id := (index $comment_parent "-dsq:id") }}
                                {{ range $comments }}
                                    {{ $comment_id := (index . "-dsq:id") }}
                                    {{ if (eq $comment_id $parent_comment_id) }}
                                        {{ $parent_comment_author := (index (index . "author") "name") }}
                                        {{ $parent_comment_snippet := (index . "message") | plainify | truncate 35 }}
                                        <em>Replying to comment by {{ $parent_comment_author }}: "{{- $parent_comment_snippet | safeHTML }}"</em>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                            {{ $comment_string | safeHTML }}
                        </dd>
                    </dl>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
