/* @import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i|Lato|Inconsolata'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&Cormorant+Garamond:400i|EB+Garamond:400i&display=swap');

*::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

*::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

a::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

a::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

body {
    text-rendering: optimizeLegibility;
    background-color: #fefefe;
    color: #000;
    line-height: 1.5;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright {
    font-size: 1em;
}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
}

.box figure a {
    border: none;
}

p>code {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    /* font-family: Inconsolata; */
    font-size: 0.98em;
    color: #000;
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 0 5.591px;
    padding: 0 0.28rem;
}

.chroma {
    border: 2px solid #d2d2d2;
    border-radius: 4px;
}

.chroma>code {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    /* font-family: Inconsolata, monospace, monospace; */
    font-size: 1em;
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
    color: #444;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}

kbd,
pre,
tt,
var {
    font-size: 1em;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    white-space: pre-wrap
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #37474f;
    word-wrap: break-word;
}

.entry-content {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    /* line-height: 1.4; */
    color: #000;
}

.entry-content a {
    color: #0645ad;
    font-weight: 500;
    border-bottom: none;
    text-decoration: none;
}

.entry-content a:hover {
    color: #191919;
}

.entry-content a:visited {
    color: #0b0080;
}


.entry-content a:visited {
    color: #0b0080;
}

.entry-content a:hover {
    color: #06e;
}

.entry-content a:active {
    color: #faa700;
}

.entry-content a:focus {
    outline: thin dotted;
}

blockquote {
    font-style: normal;
    font-family: 'EB Garamond';
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    font-weight: 500;
    background: rgb(243, 243, 243);
    padding: 1em 1em
}

.custom-home-section {
    margin-bottom: 3em;
}

.custom-home-section .title {
    /* font-family: 'Quattrocento Sans'; */
    font-size: 1.2em;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 0.3em;
}

.home-sections-container {
    font-size: 1em;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

@media screen and (min-width: 480px) {

    .title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Source Sans Pro', sans-serif;
        /* font-weight: 700; */
        font-size: 1.5em;
        line-height: 1.5;
        color: #37474f;
        margin: 0 0 .625em
    }

    .main-menu-container {
        margin-top: 1em;
    }

    .footer>div:last-child {
        margin-bottom: 1em;
    }

    .header:after {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}