@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Special+Elite&display=swap');

*::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

*::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

a::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

a::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}


p>code {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    background-color: #d9d9d9;
    color: #444;
    border-radius: 4px;
    /* padding: 0 5.591px; */
    padding: 0.20rem 0.28rem;
}

.chroma {
    border: 2px solid #d2d2d2;
    border-radius: 4px;
    padding: 4px;
    margin: 1.3em 0 1.3em 0;
}

.chroma>code {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    /*padding: 1px 2px 1px 2px;*/
    padding: 0 1.3em;
    border-radius: 4px;
    color: #444;
    padding-right: 5em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
}


/* p {
    margin-top: 2rem;
    margin-bottom: 2rem;
} */

i,
em {
    font-size: 1.1em;
}

/* * Block quotes */
.description,
blockquote {
    font-family: 'Special Elite', cursive;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.4;
    color: #3f3f5a;
}

blockquote>p {
    margin-top: 0;
    margin-bottom: 0;
}

/* fixes issues with hugo-css-gallery */
.box {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* hack to put images in center without adding html to markup
Center -    ![your_img](/img/your_img.png#center)
left   -    ![your_img](/img/your_img.png#floatleft)
right  -    ![your_img](/img/your_img.png#floatright)
*/
img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
    /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
    float: left;
    margin: 0.7rem;
    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] {
    float: right;
    margin: 0.7rem;
    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

/* Put tweets in center */
.twitter-tweet-rendered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}