{{ with site.Params.remarkbox }}
    <div class="comments clear-float">
        <hr />
        <h2>Comments</h2>
        {{ partial "remarkbox.html" . }}
    </div>
{{ else }}
    {{ with site.Params.isso }}
        <div class="comments clear-float">
            <hr />
            <h2>Comments</h2>
            {{ partial "isso.html" . }}
        </div>
        {{/* else if not (eq site.DisqusShortname "") */}}
        <!-- Below works the same way as the above empty-string equality check -->
    {{ else }}
        {{ with site.DisqusShortname }}
            <div class="comments clear-float">
                {{ partial "disqus.html" . }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
