/* ** Load Comments button (Disqus) */
.load-comments {
    font-family: sans-serif;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 0.4rem 0px;
    width: 40%;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 3px;
}

.load-comments:hover {
    opacity: 0.75;
}

.load-comments:active {
    transform: translateY(2px);
}
