<section id='recent-posts' class='home-section'>
  <header>
    <h2 class='home-section-title title'>
      {{- i18n "recentPosts" -}}
    </h2>
  </header>

  {{ $noPages := where .Site.RegularPages "Section" "ne" "page" }}
  {{ $noReadings := where .Site.RegularPages "Section" "ne" "readings" }}
  <!-- {{ $filtered := $noPages | intersect $noReadings }} -->
  {{ $filtered := $noPages }}
  <div class='list-container'>
    <ul class='list'>
      {{ range ( first 5 $filtered ) }}
      {{ .Render "li" }}
      {{ end }}
    </ul>
  </div>
</section>